.block-stack{
  overflow: auto;
  background-color: lightgrey;
  padding:20px;
}

.block {
  display: inline-block; /* changed from inline-block */
  border-radius: 5px;
  padding: 5px 10px;
  margin: 2px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: white;
  border: 1px solid black;
}

.hat {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.cap{
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.boolean {
  border-radius: 25%;
  display: inline-block;
}

.reporter {
  border-radius: 50px;
  display:inline-block;
}

.motion {
  background-color: #4c97ff;
}

.looks {
  background-color: #9966ff;
}

.sound {
  background-color: #cf63cf;
}

.events {
  background-color: #ffbf00;
}

.control {
  background-color: #ffab19;
}

.sensing {
  background-color: #4cbfe6;
}

.operators {
  background-color: #59c059;
}

.variables {
  background-color: #ee7d16;
}

.custom{
  background-color: #ff0f0f;
 }

.grey{
  background-color: grey;
}

.comment{
  background-color: #ffff82;
  color: black;
}

.input {
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px 5px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: black;
  background-color: white;
  margin: 5px; /* added margin */
}
